@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Be Vietnam Pro", sans-serif;
  margin: 0;
  background: #111;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #171717;
  color: white;
}

.fa-magnifying-glass {
  color: white;
}

.button {
  width: 300px ;
  height: 40px;
  border-radius: 10px;
  background-color: 171717;
  border: none;
  color: white;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.header-center {
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
}
.desc left-margin {
  width: auto;
  height: 50px;
}

#uv-frame {
  width: 99%;
  left: .5%;
  height: 97%;
  border-radius: 10px;
  border: none;
}


#uv-error {
  color: #ff6666 !important;
  white-space: pre-wrap;
}

#uv-error-code {
  font-size: 12px;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
}

#uv-register-sw-button {
  color: white;
  background: #555555;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 16px 20px;
  line-height: 16px;
  display: none;
}

#uv-register-sw:active {
  background: #333333;
}

#uv-register-sw.show {
  display: block;
}

.search {
    background: none;
    font-family: inherit;
    padding: 0px 17px;
    height: 48px;
    border: 1px solid rgb(255, 255, 255, 0.2);
    color: var(--text-color);
    border-radius: 3px;
    outline: none;
    width: 350px;
    margin-top: 5px;
    border-radius: 50px;
    color: #fff;
    transition: border-radius 0.1s;
}

.logo {
  width: 150px;
  height: 150px;
}

.logo-wrapper .text {
  font-size: 75px;
  color: #fff;
}

.logo-wrapper h1 {
  color: white;
}

footer {
  margin: 0 5vw;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  line-height: 30px;
  margin-bottom: 20px;
}

footer > div {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

footer a,
footer span {
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

footer a {
  cursor: pointer;
}

footer a:hover {
  text-decoration: underline;
}

.desc p {
  width: 560px;
  color: rgba(253, 253, 253, 0.514);
}

#uv-address {
  background: none;
  font-family: inherit;
  padding: 0px 17px;
  height: 48px;
  border: 1px solid rgb(255, 255, 255, 0.2);
  color: var(--text-color);
  border-radius: 3px;
  outline: none;
  width: 350px;
  margin-top: 5px;
  border-radius: 50px;
  color: #fff;
  transition: border-radius 0.1s;
}

#uv-address:focus {
  border: 1px solid rgba(253, 253, 253, 0.514);
  border-radius: 6px;
}

    .navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.tabcontainera {
  z-index: 9999999;
}

.icon {
background-color: #171717;
width:50px;
height: 50px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
  background: #16263e; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #16263e; 
}
.logo {
  font-size: 24px;
  text-decoration: none;
  color: #fff;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
  margin-left: 20px;
}

.nav-links li:first-child {
  margin-left: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: auto;
  margin-left: 10px;
  z-index: 1;
}

.search {
  padding: 15px 18px;
  border: none;
  width: 1000px;
  border-radius: 5px;
  background-color: floralwhite;
  color: var(--main-text-color);
  outline: none;
  margin-right: 10px;
  z-index: 1;
}

  .search:focus::placeholder {
      color: floralwhite;
      padding: 20px 15px;
      z-index: 1;
  }

.material-symbols-outlined {
  padding: 10px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 1;
}

p.ex2 {
  font-size: 50px;
  color: white;
}

p {
  color: white;
  padding: 20px 15px;
}

xn {
  font-size: 30;
}

input {
  background: none;
  font-family: 'Be Vietnam Pro', sans-serif;
  padding: 0px 17px;
  border: none;
  height: 20px;
  color: var(--text-color);
  outline: none;
  width: 200px;
  margin-top: 5px;
  border-radius: 30px;
  color: #fff;
  transition: border-radius 0.1s;
}

.tabbar {
padding: 30px 20px;
overflow:hidden
}
.tab {
background-color: #0d0d0d;
color:white;
border-radius: 5px;
width: 200px;
display: inline-flex;
margin-right: 10px;
display: inline-block;
position: relative;
}
.tabbutton {
background-color: #0d0d0d;
padding: 5px 5px 7px;
border-radius: 5px;
width: 50px;
height: 35px;
color:white;
display: inline-flex;
float: right;
padding: 5px;
float: left;
left:80px;
top: 0;
z-index: 1; 
cursor: pointer;
}

.tabbutton:hover {
color: #ff6666;
}

.tabbutton1 {
background-color: #0d0d0d;
padding: 5px 5px 7px;
border-radius: 5px;
width: 50px;
height: 35px;
color:white;
display: inline-flex;
float: right;
padding: 5px;
float: left;
left:80px;
}

.tabbutton1:hover {
color: #ff6666;
}

.tab active {
background-color: #333;
}

.tab:hover {
background-color: #333;
color: #ff6666;
}

.tabcontaineractive {
  z-index: 9999999;
}
.nav-links li a:hover {
color: #ff6666 ;
}

.tabs {
display: flex;
align-items: center; 
float:right;
}

.sidebar {
background-color: #333;
color:white;
width: 250px;
height: 100vh;
transition: all 1s;
z-index: 99999999;
margin: 0;
padding: 0;
}

.sidebar a:hover:not(.active) {
background-color: #555;
color: #ff6666;
}

.tabcontaineractive tab /*tabcontaienr active for tab */ {
color: #ff6666;
}

.sidebar a /*sidebar :O */{
transform: translateX(0); 
background-color: #333;
color:white;
width: 250px;
height: 100vh;
transition: all 1s;
z-index: 99999999;
margin: 0;
padding: 0;
}

.material-symbols-outlined /* add the styles for the symbols*/ {
font-variation-settings:
'FILL' 0,
'wght' 500,
'GRAD' 200,
'opsz' 48
}

.tabthingys {
float: left;
}

.tabbar {
padding: 30px 20px;
overflow:hidden;
transition: 2.2s cubic-bezier(.36,-0.01,0,.77);
}

.tab {
background-color: #0d0d0d;
color:white;
padding: 15px 5px 15px 5px;
border-radius: 5px;
width: 200px;
display: inline-flex;
 display: inline-block;
 position: relative;
 transition: 2.2s cubic-bezier(.36,-0.01,0,.77);
}
.tabbutton {
background-color: #0d0d0d;
padding: 5px 5px 7px;
border-radius: 5px;
width: 150px;
height: 35px;
color:white;
display: inline-flex;
float: right;
padding: 5px;
float: left;
left:80px;
top: 0;
z-index: 1; 
cursor: pointer;
margin-left: yes;
transition: 2.2s cubic-bezier(.36,-0.01,0,.77);
}

.tabbutton:hover {
color: #ff6666;
}


.tabbutton1:hover {
color: #ff6666;
}

.tab active {
background-color: #333;
}

.tab:hover {
background-color: #333;
color: #ff6666;
}

.tbttn {
  font-size: 40px;
  padding-top: 0px;
  font: bold;
  color:white;
  position: relative;
  padding-right: 20px;
}


[data-theme='ghost'] {

.search-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: auto;
    margin-left: 10px;
    z-index: 1;
}

.search {
    padding: 15px 18px;
    border: none;
    width: 1000px;
    border-radius: 5px;
    background-color: floralwhite;
    color: var(--main-text-color);
    outline: none;
    margin-right: 10px;
    z-index: 1;
}

    .search:focus::placeholder {
        color: floralwhite;
        padding: 20px 15px;
        z-index: 1;
    }

    .h1 {
      color:white;
    }
.material-symbols-outlined {
    padding: 10px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 1;
}

p.ex2 {
    font-size: 50px;
    color: white;
}

p {
    color: white;
    padding: 20px 15px;
}

xn {
    font-size: 30;
}

input {
    background: none;
    font-family: 'Be Vietnam Pro', sans-serif;
    padding: 0px 17px;
    border: none;
    height: 20px;
    color: var(--text-color);
    outline: none;
    width: 200px;
    margin-top: 5px;
    border-radius: 30px;
    color: #fff;
    transition: border-radius 0.1s;
}

.tabbar {
padding: 30px 20px;
overflow:hidden
}
.tab {
background-color: #0d0d0d;
color:white;
border-radius: 5px;
width: 200px;
display: inline-flex;
margin-right: 10px;
 display: inline-block;
 position: relative;
}
.tabbutton {
background-color: #0d0d0d;
padding: 5px 5px 7px;
border-radius: 5px;
width: 50px;
height: 35px;
color:white;
display: inline-flex;
float: right;
padding: 5px;
float: left;
left:80px;
top: 0;
z-index: 1; 
cursor: pointer;
}

.tabbutton:hover {
color: #ff6666;
}

.tabbutton1 {
background-color: #0d0d0d;
padding: 5px 5px 7px;
border-radius: 5px;
width: 50px;
height: 35px;
color:white;
display: inline-flex;
float: right;
padding: 5px;
float: left;
left:80px;
}

.tabbutton1:hover {
color: #ff6666;
}

.tab active {
background-color: #333;
}

.tab:hover {
background-color: #333;
color: #ff6666;
}

.tabcontaineractive {
    z-index: 9999999;
}
.nav-links li a:hover {
color: #ff6666 ;
}

.tabs {
display: flex;
align-items: center; 
float:right;
}

.sidebar {
background-color: #333;
color:white;
width: 250px;
height: 100vh;
transition: all 1s;
z-index: 99999999;
margin: 0;
padding: 0;
}

.sidebar a:hover:not(.active) {
background-color: #555;
color: #ff6666;
}

.tabcontaineractive tab /*tabcontaienr active for tab */ {
color: #ff6666;
}

.sidebar a /*sidebar :O */{
transform: translateX(0); 
background-color: #333;
color:white;
width: 250px;
height: 100vh;
transition: all 1s;
z-index: 99999999;
margin: 0;
padding: 0;
}

.material-symbols-outlined /* add the styles for the symbols*/ {
font-variation-settings:
'FILL' 0,
'wght' 500,
'GRAD' 200,
'opsz' 48
}

.tabthingys {
float: left;
}

.tabbar {
  padding: 30px 20px;
  overflow:hidden;
  transition: 2.2s cubic-bezier(.36,-0.01,0,.77);
}

.tab {
  background-color: #0d0d0d;
  color:white;
  padding: 15px 5px 15px 5px;
  border-radius: 5px;
  width: 200px;
  display: inline-flex;
   display: inline-block;
   position: relative;
   transition: 2.2s cubic-bezier(.36,-0.01,0,.77);
}
.tabbutton {
  background-color: #0d0d0d;
  padding: 5px 5px 7px;
  border-radius: 5px;
  width: 150px;
  height: 35px;
  color:white;
  display: inline-flex;
  float: right;
  padding: 5px;
  float: left;
  left:80px;
  top: 0;
  z-index: 1; 
  cursor: pointer;
  margin-left: yes;
  transition: 2.2s cubic-bezier(.36,-0.01,0,.77);
}

.tabbutton:hover {
  color: #ff6666;
}


.tabbutton1:hover {
  color: #ff6666;
}

.tab active {
background-color: #333;
}

  .tab:hover {
background-color: #333;
color: #ff6666;
}
}

/* I LOVE CATPUCCIN :DDDDDDD :3*/
[data-theme='catppuccinma'] {

  .search-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: auto;
    margin-left: 10px;
    z-index: 1;
}

.search {
  padding: 15px 18px;
  border: none;
  width: 1000px;
  border-radius: 5px;
  background-color: #9194ab;
  color: var(--main-text-color);
  outline: none;
  margin-right: 10px;
  z-index: 1;
}

  .search:focus::placeholder {
      color: #9194ab;
      padding: 20px 15px;
      z-index: 1;
  }

.material-symbols-outlined {
  padding: 10px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 1;
}

p.ex2 {
  font-size: 50px;
  color: #9194ab;
}

p {
  color: #9194ab;
  padding: 20px 15px;
}

xn {
  font-size: 30;
}

input {
  background: none;
  font-family: 'Be Vietnam Pro', sans-serif;
  padding: 0px 17px;
  border: none;
  height: 20px;
  color: var(--text-color);
  outline: none;
  width: 200px;
  margin-top: 5px;
  border-radius: 30px;
  color: #9194ab;
  transition: border-radius 0.1s;
}

.tabbar {
  padding: 30px 20px;
  overflow:hidden
  }
  .tab {
  background-color: #574859;
  color: white;
  padding: 15px 5px 15px 5px;
  border-radius: 5px;
  width: 200px;
  display: inline-flex;
  margin-right: 10px;
   display: inline-block;
   position: relative;
  }
  .tabbutton {
  background-color: #574859;
  padding: 5px 5px 7px;
  border-radius: 5px;
  width: 150px;
  height: 35px;
  color:#9194ab;
  display: inline-flex;
  float: right;
  padding: 5px;
  float: left;
  left:80px;
  top: 0;
  z-index: 1; 
  cursor: pointer;
  }
  
  .tabbutton1 {
  background-color: #574859;
  padding: 5px 5px 7px;
  border-radius: 5px;
  width: 50px;
  height: 35px;
  color:white;
  display: inline-flex;
  float: right;
  padding: 5px;
  float: left;
  left:80px;
  }
  
  .tabbutton1:hover {
  color: #524359;
  }
  
  .tab active {
  background-color: #524359;
  }
  
  .tab:hover {
  background-color: #524359;
  color: #9194ab;
  }
  
  .tabcontaineractive {
      z-index: 9999999;
  }
  .nav-links li a:hover {
    color: #9194ab;
  }

  .tabs {
    display: flex;
    align-items: center; 
    float:right;
    }
    
    
    .tabcontaineractive tab /*tabcontaienr active for tab */ {
    color: #9194ab;
    }
    
    
    .material-symbols-outlined /* add the styles for the symbols*/ {
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 200,
    'opsz' 48
    }


.tabcontainerunactive {
  display:block;
}
}
[data-theme='green'] {
  .search-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: auto;
    margin-left: 10px;
    z-index: 1;
}

.search {
  padding: 15px 18px;
  border: none;
  width: 1000px;
  border-radius: 5px;
  background-color: #5ffe43;
  color: var(--main-text-color);
  outline: none;
  margin-right: 10px;
  z-index: 1;
}

  .search:focus::placeholder {
      color: #42b12e;
      padding: 20px 15px;
      z-index: 1;
  }

.material-symbols-outlined {
  padding: 10px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 1;
}

.h1 {
  color:white;
}

p.ex2 {
  font-size: 50px;
  color: #25641a;
}

p {
  color: #25641a;
  padding: 20px 15px;
}

xn {
  font-size: 30;
}

.git {
  float: left;
  display: flex;
  shape-outside: inset(calc(80% - 100px) 0 0); 
}

input {
  background: none;
  font-family: 'Be Vietnam Pro', sans-serif;
  padding: 0px 17px;
  border: none;
  height: 20px;
  color: var(--text-color);
  outline: none;
  width: 200px;
  margin-top: 5px;
  border-radius: 30px;
  color: #42b12e;
  transition: border-radius 0.1s;
}

.tabbar {
  padding: 30px 20px;
  overflow:hidden
  }
  .tab {
  background-color: #153d0f;
  color: white;
  padding: 15px 5px 15px 5px;
  border-radius: 5px;
  width: 200px;
  display: inline-flex;
  margin-right: 10px;
   display: inline-block;
   position: relative;
  }
  .tabbutton {
  background-color: #153d0f;
  padding: 5px 5px 7px;
  border-radius: 5px;
  width: 150px;
  height: 35px;
  color:#9194ab;
  display: inline-flex;
  float: right;
  padding: 5px;
  float: left;
  left:80px;
  top: 0;
  z-index: 1; 
  cursor: pointer;
  }
  
  .tabbutton1 {
  background-color: #153d0f;
  padding: 5px 5px 7px;
  border-radius: 5px;
  width: 50px;
  height: 35px;
  color:white;
  display: inline-flex;
  float: right;
  padding: 5px;
  float: left;
  left:80px;
  }

  .tab:hover {
  background-color: #2f8921;
  color: #1d5514;
  }
  
  .tabcontaineractive {
      z-index: 9999999;
  }
  .nav-links li a:hover {
    color: #2f8921;
  }

  .tabs {
    display: flex;
    align-items: center; 
    float:right;
    }
    
    
    .tabcontaineractive tab /*tabcontaienr active for tab */ {
    color: #1d5514;
    }
    
    
    .material-symbols-outlined /* add the styles for the symbols*/ {
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 200,
    'opsz' 48
    }


.tabcontainerunactive {
  display:block;
}
}
[data-theme='red'] {
  .search-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: auto;
    margin-left: 10px;
    z-index: 1;
}

.search {
  padding: 15px 18px;
  border: none;
  width: 1000px;
  border-radius: 5px;
  background-color: #78131a;
  color: var(--main-text-color);
  outline: none;
  margin-right: 10px;
  z-index: 1;
}

  .search:focus::placeholder {
      color: white;
      padding: 20px 15px;
      z-index: 1;
  }

.material-symbols-outlined {
  padding: 10px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 1;
}

.h1 {
  color:white;
}

p.ex2 {
  font-size: 50px;
  color: white;
}

h2 {
  color:white;
}

p {
  color: white;
  padding: 20px 15px;
}

xn {
  font-size: 30;
}

.git {
  float: left;
  display: flex;
  shape-outside: inset(calc(80% - 100px) 0 0); 
}

input {
  background: none;
  font-family: 'Be Vietnam Pro', sans-serif;
  padding: 0px 17px;
  border: none;
  height: 20px;
  color: var(--text-color);
  outline: none;
  width: 200px;
  margin-top: 5px;
  border-radius: 30px;
  color: white;
  transition: border-radius 0.1s;
}

.tabbar {
  padding: 30px 20px;
  overflow:hidden
  }
  .tab {
  background-color: #ea2532;
  color: white;
  padding: 15px 5px 15px 5px;
  border-radius: 5px;
  width: 200px;
  display: inline-flex;
  margin-right: 10px;
   display: inline-block;
   position: relative;
  }
  .tabbutton {
  background-color: #ea2532;
  padding: 5px 5px 7px;
  border-radius: 5px;
  width: 150px;
  height: 35px;
  color:#9194ab;
  display: inline-flex;
  float: right;
  padding: 5px;
  float: left;
  left:80px;
  top: 0;
  z-index: 1; 
  cursor: pointer;
  }
  
  .tabbutton1 {
  background-color: #ea2532;
  padding: 5px 5px 7px;
  border-radius: 5px;
  width: 50px;
  height: 35px;
  color:white;
  display: inline-flex;
  float: right;
  padding: 5px;
  float: left;
  left:80px;
  }

  .tab:hover {
  background-color: #9d1821;
  color: white;
  }
  
  .tabcontaineractive {
      z-index: 9999999;
  }
  .nav-links li a:hover {
    color: #e92331;
  }

  .tabs {
    display: flex;
    align-items: center; 
    float:right;
    }
    
    
    .tabcontaineractive tab /*tabcontaienr active for tab */ {
    color: white;
    }
    
    
    .material-symbols-outlined /* add the styles for the symbols*/ {
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 200,
    'opsz' 48
    }


.tabcontainerunactive {
  display:block;
}
body {
  font-family: "Be Vietnam Pro", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #13243c;
}
}
[data-theme='blue'] {
  .search-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: auto;
    margin-left: 10px;
    z-index: 1;
}

.search {
  padding: 15px 18px;
  border: none;
  width: 1000px;
  border-radius: 5px;
  background-color: #1f3a62;
  color: var(--main-text-color);
  outline: none;
  margin-right: 10px;
  z-index: 1;
}

  .search:focus::placeholder {
      color: white;
      padding: 20px 15px;
      z-index: 1;
  }

.material-symbols-outlined {
  padding: 10px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 1;
}

.h1 {
  color:white;
}

p.ex2 {
  font-size: 50px;
  color: white;
}

h2 {
  color:white;
}

p {
  color: white;
  padding: 20px 15px;
}

xn {
  font-size: 30;
}

.git {
  float: left;
  display: flex;
  shape-outside: inset(calc(80% - 100px) 0 0); 
}

input {
  background: none;
  font-family: 'Be Vietnam Pro', sans-serif;
  padding: 0px 17px;
  border: none;
  height: 20px;
  color: var(--text-color);
  outline: none;
  width: 200px;
  margin-top: 5px;
  border-radius: 30px;
  color: white;
  transition: border-radius 0.1s;
}

.tabbar {
  padding: 30px 20px;
  overflow:hidden
  }
  .tab {
  background-color: #10436c;
  color: white;
  padding: 15px 5px 15px 5px;
  border-radius: 5px;
  width: 200px;
  display: inline-flex;
  margin-right: 10px;
   display: inline-block;
   position: relative;
  }
  .tabbutton {
  background-color: #10436c;
  padding: 5px 5px 7px;
  border-radius: 5px;
  width: 150px;
  height: 35px;
  color:#9194ab;
  display: inline-flex;
  float: right;
  padding: 5px;
  float: left;
  left:80px;
  top: 0;
  z-index: 1; 
  cursor: pointer;
  }
  
  .tabbutton1 {
  background-color: #10436c;
  padding: 5px 5px 7px;
  border-radius: 5px;
  width: 50px;
  height: 35px;
  color:white;
  display: inline-flex;
  float: right;
  padding: 5px;
  float: left;
  left:80px;
  }

  .tab:hover {
  background-color: #04131f;
  color: white;
  }
  
  .tabcontaineractive {
      z-index: 9999999;
  }
  .nav-links li a:hover {
    color: #0d416b;
  }

  .tabs {
    display: flex;
    align-items: center; 
    float:right;
    }
    
    
    .tabcontaineractive tab /*tabcontaienr active for tab */ {
    color: white;
    }
    
    
    .material-symbols-outlined /* add the styles for the symbols*/ {
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 200,
    'opsz' 48
    }


.tabcontainerunactive {
  display:block;
}
body {
  font-family: "Be Vietnam Pro", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #13243c;
}
}
[data-theme='blue'] { 
  background-color: #13243c;
      color: #574859;
      font-family: 'Be Vietnam Pro', sans-serif;
      -ms-overflow-style: none;
      scrollbar-width: none; 
      border: none;
      overflow: hidden;
}
[data-theme='blue']
  .navbar {
  background-color: #1569ac;
  overflow: hidden;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  z-index: 1;
}
[data-theme='blue']
  .navbar a {
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
    z-index: 1;
}
[data-theme='white'] {
  .search-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: auto;
    margin-left: 10px;
    z-index: 1;
}

.search {
  padding: 15px 18px;
  border: none;
  width: 1000px;
  border-radius: 5px;
  background-color: #ffffff;
  color: var(--main-text-color);
  outline: none;
  margin-right: 10px;
  z-index: 1;
}

  .search:focus::placeholder {
      color: black;
      padding: 20px 15px;
      z-index: 1;
  }

.material-symbols-outlined {
  padding: 10px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 1;
}

p.ex2 {
  font-size: 50px;
  color: black;
}

h2 {
  color:black;
}

p {
  color: black;
  padding: 20px 15px;
}

xn {
  font-size: 30;
}

.git {
  float: left;
  display: flex;
  shape-outside: inset(calc(80% - 100px) 0 0); 
}

input {
  background: none;
  font-family: 'Be Vietnam Pro', sans-serif;
  padding: 0px 17px;
  border: none;
  height: 20px;
  color: var(--text-color);
  outline: none;
  width: 200px;
  margin-top: 5px;
  border-radius: 30px;
  color: white;
  transition: border-radius 0.1s;
}

.tabbar {
  padding: 30px 20px;
  overflow:hidden
  }
  .tab {
  background-color: #f2f2f2;
  color: white;
  padding: 15px 5px 15px 5px;
  border-radius: 5px;
  width: 200px;
  display: inline-flex;
  margin-right: 10px;
   display: inline-block;
   position: relative;
  }
  .tabbutton {
  background-color: #f2f2f2;
  padding: 5px 5px 7px;
  border-radius: 5px;
  width: 150px;
  height: 35px;
  color:#9194ab;
  display: inline-flex;
  float: right;
  padding: 5px;
  float: left;
  left:80px;
  top: 0;
  z-index: 1; 
  cursor: pointer;
  }
  
  .tabbutton1 {
  background-color: #f2f2f2;
  padding: 5px 5px 7px;
  border-radius: 5px;
  width: 50px;
  height: 35px;
  color:white;
  display: inline-flex;
  float: right;
  padding: 5px;
  float: left;
  left:80px;
  }

  .h1 {
    color:black;
  }

  .tab:hover {
  background-color: #a5a5a5;
  color: white;
  }
  
  .tabcontaineractive {
      z-index: 9999999;
  }
  .nav-links li a:hover {
    color: black;
  }

  .tabs {
    display: flex;
    align-items: center; 
    float:right;
    }
    
    
    .tabcontaineractive tab /*tabcontaienr active for tab */ {
    color: black;
    }
    
    
    .material-symbols-outlined /* add the styles for the symbols*/ {
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 200,
    'opsz' 48
    }


.tabcontainerunactive {
  display:block;
}
body {
  font-family: "Be Vietnam Pro", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fefefe;
}
}
[data-theme='white'] { 
  background-color: #fefefe;
      color: black;
      font-family: 'Be Vietnam Pro', sans-serif;
      -ms-overflow-style: none;
      scrollbar-width: none; 
      border: none;
      overflow: hidden;
}
[data-theme='white']
  .navbar {
  background-color: #f3f3f3;
  overflow: hidden;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  z-index: 1;
}
[data-theme='white']
  .navbar a {
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
    z-index: 1;
}

[data-theme='green'] { 
  background-color: #49d533;
      color: white;
      font-family: 'Be Vietnam Pro', sans-serif;
      -ms-overflow-style: none;
      scrollbar-width: none; 
      border: none;
      overflow: hidden;
}
[data-theme='green']
  .navbar {
  background-color: #1c5514;
  overflow: hidden;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  z-index: 1;
}
[data-theme='green']
  .navbar a {
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
    z-index: 1;
}